*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
build/
/gradle
**/.DS_Store
local.properties
FacePassAndroidSDK/src/main/jni/lib/*
FacePassAndroidSDK/src/main/jni/include/*
